.textRed {
  color: red;         /*text color*/
  font-weight: bold;
}

.textGreen {
  color: green;
  font-weight: bold;
}

.office-block {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 10px;
  border-radius: 8px;
}
